label {
	font-weight: 400;
}

.modal-header {
	background-color: #3c8dbc;
	text-align: left;
	color: #fff !important;
}

.mod-title {
	font-size: 28px;
	font-weight: 500;
}

@media ( max-width : 750px) {
	.mod-title {
		font-size: 24px;
	}
}

.mod-title, h2 {
	margin: 0px;
}

.log-message {
	width: 100%;
}

.close-btn {
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	opacity: .7;
	line-height: 1;
}

.modal-header, .modal-body {
	padding: 15px 30px;
}

@media ( max-width : 420px) {
	.modal-header, .modal-body {
		padding: 15px 10px;
	}
}

.modal-dialog {
	margin-top: 90px;
}
