label {
    font-weight: 400;
}

.modal-header {
    background-color: #3c8dbc;
    text-align: left;
    color: #fff !important;
}

.mod-title {
	font-size: 35px;
    font-weight: 500;
}

@media (max-width: 750px) {
.mod-title {
	font-size: 32px;
    }
}

.mod-title, h2 {
    margin: 0px;	
}

#close-button {
    font-size: 40px;
}

.modal-header, .modal-body {
    padding: 15px 30px;
}

@media (max-width: 420px) {
.modal-header, .modal-body {	
	padding: 15px 10px;	
    }
}

.modal-dialog {
    margin-top: 90px;
}

