.inbox-head {
    margin: 0 0 40px 0;;
}

.search-input {
    border: 1px solid #367fa9;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    color: #8a8a8a;
    float: left;
    height: 34px;
    padding: 0 10px;
}

.search-btn {
    background: #367fa9;
    border: 1px solid #367fa9;
    border-radius: 0 4px 4px 0;
    color: #ffffff;
    height: 34px;
    padding: 0 20px;
}

.search-btn:hover{
	background: #3c8dbc;
	color: #ffffff;
}


/*Contact*/
.contact-form {
    padding-left: 0;
    padding-right: 0;
}


/*Inbox*/
@media (max-width: 567px) {
    .panel-body {
        padding-left: 0;
    	padding-right: 0;
    }
}

.message-form {
    margin:10px 0;
}

#select-check {
	margin-left: 18px;
	color: #337ab7;
	margin-bottom: 5px;
}

@media (max-width: 480px) {
	.delete-btn {
		float: right;      
  	}
}

.event-list {
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    list-style-type: none;  
}

.message-details {
    border: 1px solid #367fa9;
    margin-bottom: 10px;	
}

.panel-heading {	
	display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.email-hover {
	border-left: 3px solid transparent;
}

.email-hover:hover {
	border-left: 3px solid #3c8dbc;
}

.heading-check {
	width: 30px;
}

.mail-check {
	cursor: pointer;
}

.heading-title {
	flex: 2;
	padding-right: 10px;
	text-overflow:ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.title-align {	
    white-space:nowrap;
}

@media (max-width: 480px) {
	.glyphicon-mob {
		display: none;       
  	}
}

.date-poz {
	float: right;
	margin-right: 10px;
}

@media (max-width: 480px) {
	.date-poz {
		margin-right: 0;       
  	}
}

.heading-date {
	width: 100px;	
	cursor: pointer;
}

@media (max-width: 480px) {
	.heading-date {
		width: 70px;       
  	}
}

.panel-heading-check {
	background: #ffffe6;
    border-radius: 4px;
    cursor: pointer;
}
