@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);


body {
    text-rendering: optimizeLegibility;
    margin-top: 0.2em;
    line-height: 1.375em;
    color: #202020 ;
    font-weight: 400;
}


/*about us section*/

.row {
	margin: 0 0;
}

#about-description{
	background-color: #3c8dbc;
	height: auto;
	padding: 20px 0px;
	color:#FFFFFF;
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
}

@media (max-width: 420px) {
    #about-description{
		padding: 10px 0px;	
	    font-size: 16px;
    }
}

.box-content {
    display: inline-block;
    width: 45%;
    height: auto;
    margin: 10px;
    padding:10px;
    border: solid 1px #FFFFFF;
    text-align:left;
}

@media (max-width: 640px) {
	.box-content {
		width: 90%;
    }
}

.easy-sell-desc {
	text-align: left;
}

@media (max-width: 760px) {
	.easy-sell-img {
		margin-left: 10%;
	}
}

.md-title {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 23px;
    transition: all .3s cubic-bezier(0.215,0.61,0.355,1);
    font-weight: 600;
}

@media (max-width: 420px) {
	.md-title{
		font-size: 25px;
	    line-height: 30px;
	    margin-bottom: 20px;
	}
}

@media (min-width: 421px) and (max-width: 736px) {
	.md-title{
		font-size: 30px;
	    line-height: 40px;
	}
}

/*integration*/

.integration-section-description {
	background-color: #ecf0f1 !important;
	height: auto;
    text-align: center;
    width: 100%;
    padding: 40px 10px;
}

.integration-image {
	width: 100%;
	height: 150px;
	padding: 20px;
}

@media (min-width: 421px) and (max-width: 736px) {
	.integration-image {
		width: 45%;	
		margin: 0 auto;
	}
}

@media (max-width: 420px) {
	.integration-image {
		width: 60%;	
		height: 70px;
		margin: 0 auto;
		padding: 5px;
	}
}

.integration-image:hover {
    box-shadow: 1px 0px 10px rgba(0,0,0, .3);
}

/*Save money*/

#save-description {
	text-align: left;
	margin-top: 40px;
}

@media (max-width: 420px) {
	#save-description {
		margin: 40px 0 20px 0;
	}
}

@media (min-width: 421px) and (max-width: 768px){
	#save-description {
		margin: 40px 0 0 0;
	}
}

.save-mod {
    margin: 30px;   	
}

.col-centered {
	display:inline-block;
	float: none;
	margin: 0 auto;
}

@media (min-width: 992px) and (max-width: 1168px) {
	.col-centered {
		width: 30%;		
	}
}

@media (min-width: 421px) and (max-width: 736px) {
	.col-centered {
		width: 45%;	
	}
}

@media (max-width: 420px) {
	.col-centered {
		width: 90%;	
	}
}

.panel {
    background-color: #3c8dbc;
    border-radius:0;
    color: #fff !important;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .3);
}

.panel-heading {	
    background-color: #3c8dbc;
    color: #fff !important;
    padding: 25px 5px;
    font-size: 35px;
    font-weight: 500;
}

.price h3 {	
	font-family: Montserrat,Arial,sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 4px;
    text-align: center;
}

.price span {
    font-size: 1.3em;
}

@media (max-width: 736px) {
	.panel-body {
		padding: 5px;	
	}
}

@media (max-width: 736px) {
	.panel {
		width: 100%;	
		margin: 20px auto;	
	}
}

.panel-footer {
    background-color: #3c8dbc;   
    color: #fff !important;
    border-top: none;
    padding: 10px 5px;
}

.panel-footer .btn {
    margin: 15px 0;
}

.stylish-sav-btn:hover {
    background: #367fa9;
    color: #fff important;
}

/*Demo*/

#demo-section {	
	padding: 40px 0;
	background-color: #ecf0f1 !important;
	text-align: left;	
}

@media (max-width: 420px) {
	#demo-image {	
		width: 85%;	
		margin: 0 auto;
	}
}

@media (min-width: 421px) and (max-width: 736px) {
	#demo-image {
		width: 50%;	
		margin: 0 auto;	
	}
}

@media (min-width: 737px) and (max-width: 1001px) {
	#demo-image {
		width: 60%;	
		margin: 0 auto;	
	}
}

@media (max-width: 420px) {
	#demo-container {	
		margin: 25px 0 0 0;	
	}
}

@media (min-width: 421px) and (max-width: 1001px) {
	#demo-container {
		margin: 25px 0;
	}
}

.stylish-demo-btn {
    color: #367fa9;
    border-color: #367fa9;
    margin: 10px;
}

@media (max-width: 420px) {
	.demo-btn-poz {	
		text-align: center;	
	}
}

.stylish-demo-btn:hover {
    background: #3c8dbc;
    color: white;
}

.stylish-demo-btn:focus {
    color: white;
    background: #367fa9;
}

/*Contact*/

#agent-section {
	padding: 40px 0;
}

#agent-container {
	padding: 0 30px 23px 30px;
}

@media (max-width: 420px) {
	#agent-container {	
		padding: 0 10px 10px 10px;
	}
}

@media (min-width: 421px) and (max-width: 750px) {
	#agent-container {	
		padding: 0 20px 20px 20px;
	}
}

/*alerts*/

.alert-style {
	position: fixed;
    bottom: 0;
    right: 15px;
    width: 40%;
    Z-index: 999;
}

@media (max-width: 700px) {
	.alert-style {
		position: fixed;
	    bottom: 0;
	    width: 90%;   
	}
}

@media (max-width: 700px) {
	.container-style {
		margin: 0 auto;   
	}
}

.section-entry-content {
    text-align: center !important;
    color: #fff;
    background-color: transparent;
    padding: 100px 25px;
}

.section-entry-content h1{
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
}

.section-entry-content h4 {
    margin-bottom: 60px;
    margin-bottom: 3.75rem;
}

.home-section-wrapper {
    background-image: url(../images/building-image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.overlay-light {
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2); /*dim the background*/
}

/*icons*/

.aboutus-icon {
    background: url(../images/aboutus.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 80%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.glyphicon-map-marker, .glyphicon-phone, .glyphicon-envelope {
    color: #3badde
}

.footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #3badde;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide { 
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slide { 
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
