@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Orbitron);

body {
    text-rendering: optimizeLegibility;
    margin-top: 0.2em;
    font-family: Courier New;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
}

#about-us-title {
    margin-top: 70px;
}

#registration-container {
    margin-top: 80px;
    padding-left: 20px;
}

.text-center {
    text-align: center !important;
}

.jumbotron {
    color: #fff;
    background-color: transparent;
    padding: 100px 25px;
}

.jumbotron h4 {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 300;
}

.home-section-wrapper {
    background-image: url(../images/lights-night-dark-abstract.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.inovation-section-wrapper {
    background-image: url(../images/inovation.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.overlay-light {
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2); /*dim the background*/
}

.cont-style {
    padding: 0px 50px;
}

.services-icon {
    border: 8px solid transparent;
    margin-bottom: 25px;
    width: 40%;
    height: 40%;
    opacity: 0.9;
}

.services-icon:hover {
    border-color: #e9f6fb;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #3badde;
}

.carousel-indicators li {
    border-color: #3badde;
}

.carousel-indicators li.active {
    background-color: #3badde;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}


/*icons*/
.aboutus-icon {
    background: url(../images/aboutus.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 80%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-md-7 {
    text-align: justify;
}

.glyphicon-map-marker, .glyphicon-phone, .glyphicon-envelope {
    color: #3badde
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #3badde;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide { 
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slide { 
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
