.clickable {
    cursor: pointer;
}

.panel - heading span {
    margin - top: -20 px;
    font - size: 16 px;
}

.panel - details {
    box - shadow: none;
    margin - bottom: 10 px;
}

.panel - heading {
    background - color: #3C8DBC;
    color: # FFFFFF;
    padding: 5 px 15 px;
}

.panel - title {
    font - size: 14 pt;
    font - weight: 600;
    cursor: pointer;
}

.product - panel - body {
    line - height: 1.5;
    padding: 10 px 5 px 0 5 px;
    margin - left: 10 px;
}

.image - panel - body {
    padding: 10 px;
}

.divToToggle {
    clear: both;
}

@media(max - width: 360 px) {
    .divToToggle {
        padding: 15 px 0 0 0;
    }
}

@media(max - width: 640 px) {
    .padding - 5 {
        padding: 0 px;
    }
}

.product - img {
    float: left;
    width: 110 px;
    height: 120 px;
    margin: 0 5 px 10 px 0;
}

@media(max - width: 360 px) {
    .product - img {
        width: 80 px;
        height: 90 px;
    }
}

.column,
.columns {
    box - sizing: border - box;
}

.event - list {
    margin: 0 px;
    padding: 0 px;
    padding - top: 10 px;
    list - style - type: none;
}

.event - list > li {
    background - color: rgb(255, 255, 255);
    box - shadow: 0 px 0 px 5 px rgb(51, 51, 51);
    box - shadow: 0 px 0 px 5 px rgba(51, 51, 51, 0.7);
    padding: 0 px;
    margin: 0 px 0 px 10 px;
    clear: both;
    position: relative;
    display: block;
    width: 100 % ;
}

.event - list > li > img {
    width: 100 % ;
}

.event - list > li > .info {
    padding: 5 px;
}

@media(max - width: 360 px) {
    .title {
        padding - top: 25 px;
        padding - bottom: 30 px;
    }
}

.event - list > li > .info > .title {
        color: #3C8DBC;
    font-size: 16pt;
    font-weight: 700;
    margin: 0px;
}

.product-desc {
    font-size: 12pt;
    font-weight: 400;
    padding-left: 0;
}

.product-label {
    font-size: 12pt;
    font-weight: 600;
    padding-left: 0;
}

.event-list > li > .info > ul,
.event-list > li > .product-edit-delete > ul {
    display: table;
    list-style: none;
    padding: 0px;
    width: 100%;
    text-align: center;
}

.event-list > li > .product-edit-delete > ul {
    margin: 0px;
}

.event-list > li > .info > ul > li,
.event-list > li > .product-edit-delete > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
}

.event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
}

.event-list > li > .product-edit-delete > ul > li {
    padding: 0px;
}

.event-list > li > .product-edit-delete > ul > li > a {
    padding: 3px 0px;
}

.event-list > li > .info > ul > li:hover,
.event-list > li > .product-edit-delete > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}

.product-edit a,
.product-delete a {
    display: block;
    color: rgb(75, 110, 168) !important;
}

.product-edit a {
    color: rgb(255, 140, 26) !important;
}

.product-delete a {
    color: rgb(221, 75, 57) !important;
}

.product-edit:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(255, 140, 26) !important;
}

.product-delete:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
    .event-list > li > img {
        display: inline-block;
    }
    .event-list > li > img {
        float: left;
        width: 100px;
        height: 120px;
        padding: 0px;
        margin: 0px;
    }
    .event-list > li > .info {
        background-color: # FFFFFF;
        position: relative;
        overflow: hidden;
        text - align: left;
        padding - right: 40 px;
    }
    .event - list > li > .info > .title {
        padding: 15 px 5 px 10 px 5 px;
    }
    .event - list > li > .info > ul {
        position: absolute;
        left: 0 px;
        bottom: 0 px;
    }
    .event - list > li > .product - edit - delete {
        position: absolute;
        top: 0 px;
        right: 0 px;
        display: block;
        width: 40 px;
    }
    .event - list > li > .product - edit - delete > ul > li {
        display: block;
        padding: 0 px;
    }
    .event - list > li > .product - edit - delete > ul > li > a {
        display: block;
        width: 40 px;
        padding: 50 % 0 50 % ;
    }
}

@media(max - width: 768 px) {
    .event - list > li > img {
            float: left;
            width: 20 % ;
        }
        .event - list > li > .product - edit - delete > ul > li > a {
            font - size: 20 px;
        }
        .title {
            font - size: 16 pt;
            font - weight: 600;
            text - align: left;
        }
}

.title {
    padding - top: 10 px;
    padding - bottom: 10 px;
}

.product - btn {
    margin - top: 10 px;
    margin - right: 50 px;
    position: absolute;
    top: 0;
    right: 0;
}

@media(max - width: 420 px) {
    .product - btn {
        width: 100 % ;
        margin: 10 px 0 10 px 0;
        position: relative;
        text - align: center;
        bottom: 0;
    }
}

@media only screen and(min - width: 420 px) and(max - width: 750 px) {
    .product - btn {
        margin - top: 10 px;
        margin - right: 5 px;
        position: absolute;
        top: 0;
        right: 0;
    }
}

/* Makes images fully responsive */

.carousel - inner > .item > img,
    .carousel - inner > .item > a > img {
        display: block;
        width: 380 px;
        height: 220 px;
        padding: 0 30 px 20 px 30 px;
    }

.img {
    margin: 0 px;
}

/* ------------------- Carousel Styling ------------------- */


@media screen and(min - width: 768 px) {
    .carousel - control.glyphicon - chevron - left, .carousel - control.icon - prev {
        margin - left: -15 px;
    }
}

@media screen and(min - width: 768 px) {
    .carousel - control.glyphicon - chevron - left, .carousel - control.glyphicon - chevron - right, .carousel - control.icon - next, .carousel - control.icon - prev {
        width: 30 px;
        height: 30 px;
        margin - top: -15 px;
        font - size: 30 px;
    }
}

@media screen and(min - width: 768 px) {
    .carousel - control.glyphicon - chevron - right, .carousel - control.icon - next {
        margin - right: -15 px;
    }
}

.carousel - indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100 % ;
    z - index: 15;
    margin: 0;
    padding: 0 0 2 px 0;
    text - align: right;
}

.carousel - indicators li {
    border: 1 px solid #367FA9;
}

.carousel-indicators .active {
    background-color: # 367 FA9;
}

.carousel - control.left,
    .carousel - control.right {
        background - image: none;
    }

.product - carousel - control {
    top: 35 % ;
    margin - left: -30 px;
    margin - right: -30 px;
    width: 50 px;
    height: 50 px;
    color: #3C8DBC;
    border: 2px solid # 367 FA9; - webkit - border - radius: 30 px;
    opacity: 0.9;
}

@media(max - width: 768 px) {
    .carousel - control {
        margin - left: -10 px;
        margin - right: -10 px;
        margin - top: -15 px;

    }
}

.carousel - control: focus,
    .carousel - control: hover {
        background: #3C8DBC;
}

@media screen and (min-width: 992px) {
    .img-carousel-container {
        max-width: 380px;
    }
}

.img-container {
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 360px) {
    .img-container {
        width: 100%;
    }
}

@media (min-width: 568px) {
    .img-container {
        width: 50%;
    }
}


 /* ---- Delete Modal --- */

.modal-header {
    background-color: # 3 C8DBC;
        color: #FFFFFF;
        text - align: left;
        font - size: 20 px;
        font - weight: 700 px;
    }

.close {
    font - size: 40 px;
    color: #FFFFFF;
    opacity: .7;
}

.modal - header,
    .modal - body {
        padding: 10 px 20 px;
    }

.modal - dialog {
    margin - top: 90 px;
}

.form - btn.red {
    color: #ff0000;
    border: 1 px solid# ff0000;
    margin - left: 15 px;
}

.form - btn.red: hover {
        color: #fff;
        background: #ff0000;
    }
    .fade {
        background - color: rgba(60, 141, 188, 0.5);
    }
