.container {
    margin-top: 15px;
}

.panel-separator {
    border-bottom: 1px solid #ddd;
    margin: 1.25rem -1.25rem;
}

.form-horizontal .control-label {
    text-align: left;
}

#cancel-profile,
#cancel-email,
#cancel-password {
    padding-left: 10px;
}

.columns-view {
    pointer-events: none;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #f4f5f6;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .075);
}
