.settings-details {
    border: 1px solid #367fa9;
    margin-bottom: 10px;    
}
@media (max-width: 480px) {
    .settings-details {
        margin-left: 5px;
        margin-right: 5px;
        padding-bottom: 5px;
    }
}
.market {
    border-left: 3px solid transparent;
}

.market:hover {
    border-left: 3px solid #3c8dbc;
}
.panel-heading {  
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.market-img {
	width: 80px;
}
.img-style {
    width: 100%;
    height: 100%;
}
.market-settings {
    flex: 2;
    padding-right: 10px;
    text-overflow:ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.market-display {  
    white-space:nowrap;
}
.market-status {
    width: 100px;   
    cursor: pointer;
}

@media (max-width: 480px) {
    .market-status {
        width: 70px;       
    }
}
.status-position {
    float: right;
    margin-right: 10px;
}

@media (max-width: 480px) {
    .status-position {
        margin-right: 0;       
    }
}
.settings-form {
    padding: 10px;
}

@media (max-width: 480px) {
    .settings-form {
        padding: 5px;       
    }
}
.result-icon {
	color: green;
	width: 50px;
	height: 50px;
}
.save-btn {
    color: #FFFFFF;
    background-color: #367fa9;
    border-color: #367fa9;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Montserrat, Arial, sans-serif;
}
.details-style {
	margin: 0;
}
.form-style {
	margin: 10px 0 0 0;
	padding-left: 0;
}
@media (max-width: 480px) {
    .form-style {
	margin-right: -15px;
	margin-left: -15px;
	}
}
.remove-btn {
	color: #FFFFFF;
    background-color: #367fa9;
    border-color: #367fa9;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Montserrat, Arial, sans-serif;
}
