#integration-page-header {
	margin: 70px 25px 25px 25px;
	text-align: center;
}

@media (max-width: 420px) {
    #integration-page-header {
		margin: 35px 10px 10px 10px;
    }
}

.integration-header {
	background-color: #3c8dbc;
	height: auto;
	border-radius: 4px 4px 0 0;
	padding:1px;
	margin-top: 30px;
    margin-bottom: 20px;	
}

@media (max-width: 420px) {
    .integration-header {
		margin: 15px -15px;
		border-radius: 0;
    }
}

#integration-page-body {
	margin-bottom: 15px;
}

.integration-title {
	color: #fff;
	text-align: center;
}

.integration-title h3 {
	margin: 4px;	
	font-weight: 600;
	font-size: 25px;
}

@media (max-width: 420px) {
    .integration-title h3 {
		font-size: 28px;
    }
}

.market-integration-section {
	margin: 0 auto; 
}
.market-integration {
    border: solid 1px #3c8dbc;
    margin-bottom: 20px; 
}

.market-integration-active {
    border-top: solid 3px #3c8dbc;
    border-left: solid 3px #3c8dbc;
    border-right: solid 3px #3c8dbc;
    border-bottom: none;   
	box-shadow: 5px 0px 20px rgba(0,0,0, .3);
}

.market-integration:hover {
    box-shadow: 5px 0px 20px rgba(0,0,0, .3);   
}

.market-integration-image {
	height: 100px;
	width: 100%;
	padding: 10px;
	
}

@media (min-width: 420px) and  (max-width: 736px) {
    .integration-section-mobile {
		width: 70%;
		margin: 0 auto;
    }
}


/*details*/

.details-market-img {
	margin-top: 30px;
}

@media (max-width: 420px) {
    .details-market-img {
		margin-top: 20px;
    }
}

.integration-details  {
	display: inline-block;
	position: relative;	
	width: 100%;
    padding: 0px;
}

.info-details {
 	position: relative;
}

.info-details .info {
	background-color: #fff !important;
	width: 100%;
	display: none;
	position: absolute;
	z-index: 1000;
	padding: 15px;
    box-shadow: 5px 5px 20px rgba(0,0,0, .3); 
    margin-bottom: 30px;
    border-top: solid 3px #3c8dbc;   
}

@media (max-width: 736px) {
	.info-details .info {
		padding: 15px 0;
		margin: 0px;
	}
}

.first-level-markets .info {
	top:103px;
}

.second-level-markets .info{
	top: 225px;
}

@media (max-width: 767px){
    .second-level-markets .info {
		top: 103px;
    }
}

.close-market-details {
	position: absolute;
    float: right;
    right: 20px;
    top: 20px;
}

@media (max-width: 420px) {
    .close-market-details {
    	top: 10px;
    }	
}

.market-details-title {
	text-align: center;
    margin-top: 30px;
}

.market-details-subtitle {
	text-align: center;
}

.details-section-title {
	color: #3c8dbc;
	font-size: 25px;
	margin: 25px 0 15px 0;
}

#backgroung-integration-contact {
    background-image: url(../images/contact-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 -15px -15px -15px;
}

@media (max-width: 736px) {
	#backgroung-integration-contact {
		margin: 0px;
	}
}

#integration-about-contact {
	background: rgba(54, 127, 169, 0.9);	
	padding: 20px;
	color: #fff;
}

@media (max-width: 736px) {
	#integration-about-contact {
		padding: 0px;
	}
}

#integration-about-contact .details-section-title {
	color: #fff;
}

#integration-contact p {
	font-size: 22px;
}

.details-section-title strong {
	padding-top: 10px;
	line-height: 1.2;
}

#how-works {
	text-align: center;
}
