<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
            xmlns:context="http://www.springframework.org/schema/context"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:mvc="http://www.springframework.org/schema/mvc"
            xmlns:tx="http://www.springframework.org/schema/tx"
			xmlns:aop="http://www.springframework.org/schema/aop"
            xsi:schemaLocation="
				http://www.springframework.org/schema/beans     
				http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context 
				http://www.springframework.org/schema/context/spring-context.xsd
				http://www.springframework.org/schema/aop     
				http://www.springframework.org/schema/aop/spring-aop.xsd
				http://www.springframework.org/schema/mvc     
				http://www.springframework.org/schema/mvc/spring-mvc.xsd
				http://www.springframework.org/schema/tx     
				http://www.springframework.org/schema/tx/spring-tx.xsd">

    <mvc:annotation-driven />
    <tx:annotation-driven />
    <context:annotation-config />
    <context:component-scan base-package="com.markettime" />
    <context:load-time-weaver />
    
    <mvc:interceptors>
    	<bean class="com.markettime.interceptor.SessionContextInterceptor"/>
    </mvc:interceptors>
    
    <!-- <default-servlet-handler/> -->
    <!-- <mvc:resources mapping="/resources/**" location="/"/> -->
    
    <bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    	<property name="locations">
    		<list>
    			<value>classpath:config.properties</value>
    		</list>
    	</property>
    </bean>
    
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:messages/messages</value>
            </list>
        </property>
        <property name="fallbackToSystemLocale" value="false"/> 
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
    
	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/"/>
		<property name="freemarkerSettings">
	        <!-- auto-include spring.ftl -->
	        <props>
	            <prop key="auto_import">spring.ftl as spring</prop>
	        </props>
   		</property>
	</bean>
	
	<bean id="viewResolver" class="com.markettime.web.servlet.view.CustomFreeMarkerViewResolver">
		<property name="cache" value="false"/>
		<property name="prefix" value="pages/"/>
		<property name="suffix" value=".ftl"/>
		<property name="exposeSpringMacroHelpers" value="true"/>
	</bean> 
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
	    <property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>
	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    	<property name="persistenceUnitName" value="market-time"/> 
		<property name="dataSource" ref="dataSource"/>
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
		<property name="packagesToScan" value="com.markettime.model.entity"/>
	</bean>
	
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/market_time" />
	</bean>
	
	<bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
		<property name="showSql" value="false" />
	</bean>
	
</beans>
