<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Processes application requests -->
    <servlet>
        <servlet-name>spring-servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/spring-servlet-context.xml</param-value>
        </init-param>
        <init-param>
		    <param-name>throwExceptionIfNoHandlerFound</param-name>
		    <param-value>true</param-value>
		</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>spring-servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>*.css</url-pattern>
    	<url-pattern>*.js</url-pattern>
    	<url-pattern>*.png</url-pattern>
    	<url-pattern>*.svg</url-pattern>
    	<url-pattern>*.eot</url-pattern>
    	<url-pattern>*.ttf</url-pattern>
    	<url-pattern>*.woff</url-pattern>
    	<url-pattern>*.woff2</url-pattern>
    </servlet-mapping>
    
    <!-- No Caching Filter -->
    <filter>
	    <filter-name>noCacheFilter</filter-name>
	    <filter-class>com.markettime.handler.NoCacheFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>noCacheFilter</filter-name>
	    <url-pattern>*</url-pattern>
	</filter-mapping>
</web-app>
